<footer class="footer">


	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<a href="https://cobyzone.carrd.co/" target="_blank">Water microbe drop logo designed by Coby West!</a>

			<!---
			<img src="/images/marschmi_site/FaviCon/favicon-16x16.png" alt="footer logo" style="width:16px;height:16px;">			
			--->

		</div>

		<!---
		{% include socials.html %}
		---> 
		
		<img src="/images/marschmi_site/Cornell_Logos/CALS-wordmark-color.png" alt="footer logo" style="width:300px;height:100px;">
		

	</div>

</footer>